* {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

body {
    background-image: url("images/background.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

#page {
    text-shadow: 2px 0px 2px #000;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 700px;
}


#page h1 {
    color: rgb(229, 246, 223);
    font-size: 70px;

}

#page h3 {
    color: rgb(229, 246, 223);
    font-size: 25px;

}

#startBtn {
    transition: transform 0.3s ease-in-out;
    margin-top: 100px;
    font-size: xx-large;
    width: 200px;
    height: 60px;
    border: 4px outset rgba(190, 255, 168, 0.771);
    border-radius: 40px;
}

#startBtn:hover {
    cursor: pointer;
    transform: scale(1.3);
}


header {
    color: rgb(169, 190, 233);
    background: rgba(0, 0, 0, 0.404);
    border-radius: 20px;
    width: 1000px;
    display: flex;
    font-size: 3.5vh; 
    justify-content: center; 
    margin-top: 5vh;
}

#hScore {
    color: rgb(235, 242, 255);
    font-size: 40px;
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#scoreBox {
    border: 3px solid rgb(169, 190, 233);
    box-shadow: 1px 3px 6px rgb(7, 22, 53);
    height: auto;
    width: 30vw;
    font-size: 3vh;
    margin-top: 0.1vh;
    border-radius: 4vw;
    padding-bottom: 50px;
}

#scoreBox h2 {
    text-align: center;
    color: rgb(169, 190, 233);
    background: rgba(0, 0, 0, 0.404);
    border-radius: 20px;
    margin-top: 2vh;
    margin-left: 6vw;
    margin-bottom: 30px;
    width: fit-content;
    padding-left: 5vh;
    padding-right: 5vh;
}

div li {
    width: 300px;
    margin-top: 10px;
    border-radius: 2vh;
    margin-left: 10vh;
    margin-right: 3vh;
    padding: 3px;
}

div li {
    border: 1px solid #000;
    border-radius: 2vh;
    padding: 4px;
    margin-bottom: 3px;
    background: rgba(255, 255, 255, 0.849);
}

#qContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

#qContainer button {
    border: 3px solid rgb(13, 95, 24);
    border-radius: 10px;
    margin-top: 5px;
    width: 300px;
}

#qContainer button:hover {
    background-color: rgba(178, 248, 178, 0.705);
    font-weight: 550;
}

#qContainer h3 {
    color: whitesmoke;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
}

#timer {
    color: rgb(226, 81, 37);
    display: flex;
    justify-content: center;
    background: rgb(218, 171, 148);
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 100px;
    width: 80px;
    border-radius: 20px;
    padding-bottom: 7px;
}

#initialsForm {
    display: none;
}

#initialsForm label.label {
    margin-bottom: 30px;
}

#initialsForm input.input {
    border-radius: 20px;
    width: 150px;
    margin-bottom: 200px;
}

#initialsForm button.button {
    width: 120px;
    font-size: 30px;
    border-radius: 20px;
}



#scoreList {
    display: flex;
    justify-content: center;
    padding: 0%;
}

#scoreList li {
    margin: 0%;
    padding-left: 10px ;
    padding-right: 10px;
    width: fit-content;
    color: black;
    background-color: rgb(127, 194, 194);
}